<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="wolof-title">Ligueylu - sougne xarala bilay yombalal sa liguey</h1>
      <p class="hero-subtitle">Ligueylu dafay yombal sa dund Si limoulay lay Mayy ak limou  lay laaj</p>
      <form action="#">
        <!-- <input type="text" placeholder="Rechercher un service"> -->
        <!-- <button type="submit">Rechercher</button> -->
      </form>
    </div>
    <div class="hero-image">
      <img src="assets/images/presentation-image.jpg" alt="Présentation de Ligueylu">
    </div>
  </div>
</section>
