.hero {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.hero-text, .hero-image {
  width: 100%;
  max-width: 45%;
  margin-bottom: 20px;
}

.hero-image {
  position: relative;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  border-radius: 50% 50% 0 0;
}

.hero-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, #f8f9fa, transparent);
}

.wolof-title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  color: #446c15;
  margin-bottom: 20px;
  quotes: "\201C" "\201D";
}

.wolof-title:before {
  content: open-quote;
}

.wolof-title:after {
  content: close-quote;
}

.hero-subtitle {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(61, 57, 57);
  position: relative;
  top: 10px;
}

@media (max-width: 1200px) {
  .hero-content {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .hero-text, .hero-image {
    max-width: 100%;
    width: 100%;
  }

  .hero-content {
    justify-content: center;
    text-align: center;
  }

  .wolof-title {
    font-size: 24px;
  }

  .hero-subtitle {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 50px 0;
  }

  .wolof-title {
    font-size: 20px;
  }

  .hero-subtitle {
    font-size: 16px;
  }
}
