/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Styles for the form */
mat-card {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

.custom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
  color: #446c15;
  text-align: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

mat-form-field {
  flex: 1;
}

.full-width {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button[type="submit"] {
  background-color: #446c15;
  color: white;
  border: none;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #3a5a12;
}

mat-label {
  color: #446c15;
  font-weight: bold;
}

/* Styles for the success modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ca3737;
}

.success-icon {
  font-size: 36px;
  color: #4caf50;
  margin-bottom: 20px;
}

.connect-link a {
  color: #446c15;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.connect-link a:hover {
  text-decoration: underline;
}
.slider-container {
  margin: 10px 0;
  width: 100%;
}
