<form [formGroup]="createProviderForm" (ngSubmit)="createProvider()">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="custom-title">Créer un prestataire de service</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Nom du prestataire</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="createProviderForm.get('name')?.hasError('required')">
            Le nom est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Prenom du prestataire</mat-label>
          <input matInput formControlName="surname" required>
          <mat-error *ngIf="createProviderForm.get('surname')?.hasError('required')">
            Le prénom est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Adresse e-mail</mat-label>
          <input matInput formControlName="email" required email>
          <mat-error *ngIf="createProviderForm.get('email')?.hasError('required')">
            L'adresse e-mail est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="phone" required>
          <mat-error *ngIf="createProviderForm.get('phone')?.hasError('required')">
            Le téléphone est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Région</mat-label>
          <mat-select formControlName="region" required>
            <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
          </mat-select>
          <mat-error *ngIf="createProviderForm.get('region')?.hasError('required')">
            La région est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error *ngIf="createProviderForm.get('description')?.hasError('required')">
          La description est obligatoire
        </mat-error>
      </mat-form-field>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Fonction</mat-label>
          <input matInput formControlName="function" required>
          <mat-error *ngIf="createProviderForm.get('function')?.hasError('required')">
            La fonction est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tarification en FCFA</mat-label>
          <input matInput formControlName="tarification" required>
          <mat-error *ngIf="createProviderForm.get('tarification')?.hasError('required')">
            La tarification est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Distance</mat-label>
          <input matInput formControlName="distance" required>
          <mat-error *ngIf="createProviderForm.get('distance')?.hasError('required')">
            La distance est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        Créer le prestataire
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<div *ngIf="inscriptionSuccess" class="modal">
  <div class="modal-content">
    <mat-icon class="close" (click)="closeModal()">close</mat-icon>
    <mat-icon class="success-icon">check_circle</mat-icon>
    <p>Prestataire ajouté avec succès ! Que voulez-vous faire ?</p>
    <p class="connect-link"><a href="/create-prestataire">Ajouter un nouveau prestataire</a></p>
    <p class="connect-link"><a href="/manage-prestataire">Afficher la liste des prestataires</a></p>
  </div>
</div>
