<header class="main-header">
  <div class="logo-container">
    <div class="icon-container" (click)="menu.toggleMenu()">
      <mat-icon>menu</mat-icon>
    </div>
  </div>
  <span class="app-name">Ligueylu</span>
  <a routerLink="/connexion" class="login-button">
    <mat-icon>person</mat-icon>
    <span>Se connecter</span>
  </a>
</header>
<app-menu #menu></app-menu>
