.main-header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Utilisation de la position fixed */
  top: 0; /* Fixe en haut de la fenêtre */
  left: 0; /* Aligné sur la gauche */
  right: 0; /* Aligné sur la droite */
  z-index: 1000; /* Assure que le header reste au-dessus du contenu */
}

.logo-container {
  display: flex;
  align-items: center;
}

mat-icon {
  font-size: 32px;
  color: #446c15;
  font-weight: bold;
  cursor: pointer;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  color: #446c15;
  text-transform: lowercase;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 5px 2px rgba(67, 160, 141, 0.653);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.login-button {
  color: #446c15;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.login-button:hover {
  color: #c7d3bb;
}

.login-button mat-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .main-header {
    justify-content: center;
  }

  .app-name {
    position: static;
    transform: none;
    margin-left: 0;
    text-align: center;
    font-size: 30px;
  }

  .icon-container {
    position: absolute;
    left: 10px;
    margin-right: 0;
  }

  .login-button {
    position: absolute;
    right: 1px;
    font-size: 15px;
  }
  .login-button span {
    display: none;
  }
  .login-button mat-icon {
    font-size: 28px;
    display: block;
  }
}
