<div class="container">
  <h2>Bienvenue, {{ user?.email }} {{ user?.prenom }}</h2>
  <p>Que souhaitez-vous faire aujourd'hui ?</p>

  <div class="actions">
    <div class="action-item">
      <button mat-raised-button color="green-button" (click)="navigateTo('create-prestataire')">
        <mat-icon>person_add</mat-icon> Créer un prestataire
      </button>
    </div>
    <div class="action-item">
      <button mat-raised-button color="green-button" (click)="navigateTo('manage-prestataire')">
        <mat-icon>supervisor_account</mat-icon> Gérer les prestataires
      </button>
    </div>
    <div class="action-item">
      <button mat-raised-button color="green-button" (click)="navigateTo('manage-users')">
        <mat-icon>group</mat-icon> Gérer les utilisateurs
      </button>
    </div>
    <div class="action-item">
      <button mat-raised-button color="green-button" (click)="navigateTo('parametrer')">
        <mat-icon>settings</mat-icon> Paramétrer les services
      </button>
    </div>
    <div class="action-item">
      <button mat-raised-button color="green-button" (click)="navigateTo('rapports')">
        <mat-icon>bar_chart</mat-icon> Voir les rapports et analyses
      </button>
    </div>
  </div>
</div>
