.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.green-button {
  background-color: #4caf50; /* Green color */
  color: #fff;
}
.action-item {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: #4caf50;
  box-shadow: 0 4px 6px #4caf50;
  transition: transform 0.3s, box-shadow 0.3s;
}

button mat-icon {
  margin-right: 8px;
color: #388e3c;}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  /* background-color: #388e3c; */
}

@media (max-width: 600px) {
  .action-item {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-basis: 100%; /* Ajout de cette propriété */
  }

 }

@media (min-width: 601px) and (max-width: 960px) {
  .action-item {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-basis: 100%; /* Ajout de cette propriété */
  }

}

