.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 298px;
}

.signup-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.mat-form-field-label {
  color: #446c15;
  font-weight: bold;
  font-size: 16px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
}

mat-label {
  color: #446c15;
  font-weight: bold;
}

input[matInput] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

mat-select {
  width: 100%;
}

mat-raised-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.custom-button {
  background-color: #446c15;
  color: white;
  border: none;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #3a5a12;
}

.signup-link a {
  color: #446c15;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.signup-link a:hover {
  color: #3a5a12;
}

.signup-container h2 {
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
  color: #446c15;
}

.login-link a {
  color: #446c15;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.login-link a:hover {
  color: #3a5a12;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  max-width: 400px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(55, 101, 82, 0.2);
  position: relative;
}

.modal-content .close {
  color: #cd5757;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: rgb(190, 73, 73);
  text-decoration: none;
  cursor: pointer;
}

.modal-content .success-icon {
  font-size: 25px;
  color: green;
  display: block;
  margin: 0 auto 20px;
}

.modal-content .connect-link a {
  color: #446c15;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}

.modal-content .connect-link a:hover {
  color: #3a5a12;
}
