<div class="container">
  <div class="signup-container">
    <h2>Inscription</h2>
    <form (ngSubmit)="onSubmit(inscriptionForm)" #inscriptionForm="ngForm">
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" id="first-name" required [(ngModel)]="prenom" name="prenom" minlength="2" #prenomInput="ngModel">
        <mat-error *ngIf="prenomInput?.invalid && (prenomInput?.dirty || prenomInput?.touched)">
          <span *ngIf="prenomInput?.errors?.['required']">Le prénom est requis.</span>
          <span *ngIf="prenomInput?.errors?.['minlength']">Le prénom doit comporter au moins 2 caractères.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" id="last-name" required [(ngModel)]="nom" name="nom" minlength="2" #nomInput="ngModel">
        <mat-error *ngIf="nomInput?.invalid && (nomInput?.dirty || nomInput?.touched)">
          <span *ngIf="nomInput?.errors?.['required']">Le nom est requis.</span>
          <span *ngIf="nomInput?.errors?.['minlength']">Le nom doit comporter au moins 2 caractères.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Adresse Email</mat-label>
        <input matInput type="email" id="email" required [(ngModel)]="email" name="email" email #emailInput="ngModel">
        <mat-error *ngIf="emailInput?.invalid && (emailInput?.dirty || emailInput?.touched)">
          <span *ngIf="emailInput?.errors?.['required']">L'adresse email est requise.</span>
          <span *ngIf="emailInput?.errors?.['email']">Adresse email invalide.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" id="password" required [(ngModel)]="mdp" name="mdp" minlength="6" #mdpInput="ngModel">
        <mat-error *ngIf="mdpInput?.invalid && (mdpInput?.dirty || mdpInput?.touched)">
          <span *ngIf="mdpInput?.errors?.['required']">Le mot de passe est requis.</span>
          <span *ngIf="mdpInput?.errors?.['minlength']">Le mot de passe doit comporter au moins 6 caractères.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Confirmer Mot de passe</mat-label>
        <input matInput type="password" id="confirm-password" required [(ngModel)]="confirmationMdp" name="confirmationMdp" #confirmationMdpInput="ngModel" [pattern]="mdp">
        <mat-error *ngIf="confirmationMdpInput?.invalid && (confirmationMdpInput?.dirty || confirmationMdpInput?.touched)">
          <span *ngIf="confirmationMdpInput?.errors?.['required']">La confirmation du mot de passe est requise.</span>
          <span *ngIf="confirmationMdpInput?.errors?.['pattern']">Les mots de passe ne correspondent pas.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Rôle</mat-label>
        <mat-select id="role" required [(ngModel)]="role" name="role" #roleInput="ngModel">
          <mat-option value="administrator">Administrateur</mat-option>
        </mat-select>
        <mat-error *ngIf="roleInput?.invalid && (roleInput?.dirty || roleInput?.touched)">
          Le rôle est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Téléphone</mat-label>
        <input matInput type="tel" id="phone" required [(ngModel)]="telephone" name="telephone" pattern="^77[0-9]{7}$" #telephoneInput="ngModel">
        <mat-error *ngIf="telephoneInput?.invalid && (telephoneInput?.dirty || telephoneInput?.touched)">
          <span *ngIf="telephoneInput?.errors?.['required']">Le numéro de téléphone est requis.</span>
          <span *ngIf="telephoneInput?.errors?.['pattern']">Numéro de téléphone invalide. Le format doit être 77XXXXXXX.</span>
        </mat-error>
      </mat-form-field>

      <button type="submit" class="custom-button" [disabled]="inscriptionForm.invalid">S'inscrire</button>
    </form>
    <div class="login-link">
      <p>Déjà inscrit ? <a href="/connexion">Se connecter</a></p>
    </div>
  </div>
</div>

<div *ngIf="inscriptionSuccess" class="modal">
  <div class="modal-content">
    <mat-icon class="close" (click)="closeModal()">close</mat-icon>
    <mat-icon class="success-icon">check_circle</mat-icon>
    <p>Inscription réussie ! Veuillez vous connecter.</p>
    <p class="connect-link"><a href="/connexion">Se connecter</a></p>
  </div>
</div>

