<!-- Tableau des utilisateurs -->
<mat-table [dataSource]="utilisateurs" class="mat-elevation-z8">

  <!-- Colonnes -->
  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
    <mat-cell *matCellDef="let utilisateur">{{ utilisateur.nom }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="prenom">
    <mat-header-cell *matHeaderCellDef>Prénom</mat-header-cell>
    <mat-cell *matCellDef="let utilisateur">{{ utilisateur.prenom }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let utilisateur">{{ utilisateur.email }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>Rôle</mat-header-cell>
    <mat-cell *matCellDef="let utilisateur">{{ utilisateur.role }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="telephone">
    <mat-header-cell *matHeaderCellDef>Téléphone</mat-header-cell>
    <mat-cell *matCellDef="let utilisateur">{{ utilisateur.telephone }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let utilisateur">

      <button mat-icon-button color="warn" (click)="deleteUser(utilisateur.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Lignes de l'en-tête et du contenu -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let utilisateur; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- Pagination -->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" (page)="onPageChange($event)"></mat-paginator>
