<div id="main">
  <app-header></app-header>
  <div class="page-wrapper">
      <div class="container-fluid">
          <div class="blog-home2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
