<div class="container">
  <div class="login-container">
    <h2>Connexion</h2>
    <form (ngSubmit)="login()">
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" required [(ngModel)]="email" name="email">
        <span *ngIf="emailInput?.errors?.['required']">L'adresse email est requise.</span>
        <span *ngIf="emailInput?.errors?.['email']">Adresse email invalide.</span>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" id="password" required [(ngModel)]="password" name="password">
        <span *ngIf="mdpInput?.errors?.['required']">Le mot de passe est requis.</span>
        <span *ngIf="mdpInput?.errors?.['minlength']">Le mot de passe doit comporter au moins 6 caractères.</span>
      </mat-form-field>

      <button type="submit" class="custom-button">Se connecter</button>
    </form>
    <div class="signup-link">
      <p>Pas encore inscrit ? <a href="/inscription">S'inscrire</a></p>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
