.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 28px;
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.mat-form-field-label {
  color: #446c15;
  font-weight: bold;
  font-size: 16px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
}

mat-label {
  color: #446c15;
  font-weight: bold;
}

input[matInput] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

mat-select {
  width: 100%;
}

mat-raised-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.custom-button {
  background-color: #446c15;
  color: white;
  border: none;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #3a5a12;
}

.signup-link a {
  color: #446c15;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.signup-link a:hover {
  color: #3a5a12;
}

.login-container h2 {
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
  color: #446c15;
}

.login-link a {
  color: #446c15;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.login-link a:hover {
  color: #3a5a12;
}

/* Style pour le message d'erreur */
.error-message {
  text-align: center;
  color: red;
  margin-top: 20px;
}
.error-message {
  text-align: center;
  color: red;
  margin-top: 8px; /* Ajustez selon vos besoins */
  font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
  font-weight: bold; /* Ajustez le poids de la police selon vos besoins */
}

/* Style pour les messages d'erreur spécifiques aux champs */
.mat-form-field-error {
  color: red;
}
