
.mat-elevation-z8 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 65px;
}

/* Style des cellules du tableau */
.mat-cell, .mat-header-cell {
  padding: 12px;
}

/* Style des boutons d'action */
.actions-cell button {
  margin-right: 8px;
}

/* Media queries pour les tailles d'écran */
@media (max-width: 768px) {
  .mat-cell, .mat-header-cell {
    padding: 8px;
  }

  .actions-cell button {
    margin-right: 4px;
  }
}

@media (max-width: 576px) {
  .mat-cell, .mat-header-cell {
    padding: 6px;
    font-size: 14px;
  }

  .actions-cell button {
    margin-right: 2px;
    padding: 4px;
    font-size: 12px;
  }
}
