
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
    <mat-cell *matCellDef="let prestataire">{{ prestataire.name }}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef>Prenom</mat-header-cell>
    <mat-cell *matCellDef="let prestataire">{{ prestataire.surname }}</mat-cell>
  </ng-container>


  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let prestataire">{{ prestataire.email }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="function">
    <mat-header-cell *matHeaderCellDef>Fonction</mat-header-cell>
    <mat-cell *matCellDef="let prestataire">{{ prestataire.function }}</mat-cell>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Téléphone</mat-header-cell>
    <mat-cell *matCellDef="let prestataire">{{ prestataire.phone }}</mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let prestataire">
      <button mat-icon-button color="primary" (click)="editPrestataire(prestataire)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePrestataire(prestataire)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" (page)="onPageChange($event)"></mat-paginator>
