<h2>Modifier Prestataire</h2>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="custom-title">Modifier un prestataire de service</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Nom du prestataire</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Prenom du prestataire</mat-label>
          <input matInput formControlName="surname" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Adresse e-mail</mat-label>
          <input matInput formControlName="email" required email>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="phone" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Région</mat-label>
          <mat-select formControlName="region" required>
            <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Fonction</mat-label>
          <input matInput formControlName="function" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tarification en FCFA</mat-label>
          <input matInput formControlName="tarification" required>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Distance</mat-label>
          <input matInput formControlName="distance" required>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enregistrer</button>
      <button mat-raised-button color="warn" (click)="onClose()">Annuler</button>
    </mat-card-actions>
  </mat-card>
</form>
