/* Global styles */

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto; /* Activer le défilement vertical */

}

h2 {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
  color: #446c15;  text-align: center;
}

/* Form grid */

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.form-field {
  margin-bottom: 20px;
}

/* Form fields */

mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 16px;
  color: #666;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Buttons */

.dialog-actions {
  margin-top: 20px;
  text-align: center;
}

button[mat-raised-button] {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[mat-raised-button][color="primary"] {
  background-color: #337ab7;
  color: #fff;
}

button[mat-raised-button][color="warn"] {
  background-color: #ff9800;
  color: #fff;
}

button[mat-raised-button]:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  form {
    padding: 10px;
  }

  .form-field {
    margin-bottom: 10px;
  }

  button[mat-raised-button] {
    padding: 10px 15px;
  }
}
