.menu {
  background-color: rgba(245, 245, 245, 0.9);
  padding: 10px;
  position: fixed;
  top: 60px;
  width: 170px;
  height: 100vh;
  z-index: 999;
  transition: left 0.3s ease-in-out;
}

.menu-visible {
  left: 0;
}

.menu-hidden {
  left: -100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
}

.menu ul li a {
  color: #446c15;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  padding: 10px;
}

.menu ul li a:hover {
  color: #c7d3bb;
}

.menu-icon {
  margin-right: 10px;
  font-size: 24px;
}
