<nav [ngClass]="{'menu-visible': isMenuVisible, 'menu-hidden': !isMenuVisible}" class="menu">
  <ul>
    <li><a routerLink="/accueil"><mat-icon class="menu-icon">home</mat-icon>Accueil</a></li>
    <li><a routerLink="/actions"><mat-icon class="menu-icon">build</mat-icon>Services</a></li>
    <li><a routerLink="/connexion"><mat-icon class="menu-icon">account_circle</mat-icon>Se connecter</a></li>
  </ul>
</nav>
